<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="100px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
<!--            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">-->
<!--              <mat-icon>more_vert</mat-icon>-->
<!--            </button>-->
<!--            <mat-menu #menu="matMenu" xPosition="before">-->
<!--              <button mat-menu-item>Expand</button>-->
<!--              <button mat-menu-item>Remove</button>-->
<!--            </mat-menu>-->
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="server-status" style="text-align: left; color: {{card.statusColor}}"> {{card.content}}</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <h2>
    Minecraft server requirments
  </h2>
  <mat-list>
    <mat-list-item>Forge</mat-list-item>
    <mat-list-item>abnormals_core-1.16.5-3.1.1</mat-list-item>
    <mat-list-item>atmospheric-1.16.5-3.1.0</mat-list-item>
    <mat-list-item>byg-1.1.14</mat-list-item>
    <mat-list-item>OptiFine_1.16.5_HD_U_G7</mat-list-item>
    <mat-list-item>tl_skin_cape_forge_1.16.5-1.17</mat-list-item>
    <mat-list-item>traverse-1.16.4-0.4.3.87</mat-list-item>
  </mat-list>
  <p>Download pack <a href="mods.zip">here</a> </p>
</div>
